class*="col-"] {
    float: left;
    padding: 15px;
}

.hidden{
  display: none;
}
header {
	background-color: #181818;
}
#title {
	margin-top: 1.5%;
	text-align: center;
	display: block;
	line-height: 50px;
	color: white;
	background: #181818;
  text-decoration: none;
  padding: 8px;
}
#searchBar{
   margin: 0px;
}
#searchButton{
  font-family: sans-serif;
  color: white;
  margin-top: 15px;
  border: 2px solid #3f3c3c;
  border-radius: 4px;
  background-color: #4c4b4b;
}
#searchButton:hover {
  background-color: #262424;
}
input[type=text] {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.submit{
	margin-left: 33%;
}

@media screen and (min-width: 480px){
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}

@media screen and (min-width: 960px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}
